<p id="notice"><%= notice %></p>

<div class="square">
    <%= @practitioner.name %>
    <%= @practitioner.description %>
</div>

<% if @practitioner.user == current_user %>
	<%= link_to 'Edit', edit_practitioner_path(@practitioner) %> |
<% end %>
<%= link_to 'Back', practitioners_path %>
